<html>
	<head>
	   <title>Edit Products</title>
    </head>
	<body>
		<h1>Edit the Product</h1>
		<form th:action="@{'/editproductsave/'+${id}}" th:object="${product}" method="post">
			<label for="Name":>Name</label> 
			<input type="text" name="Name" th:field="*{Name}"><br><br>
			
			<label for="brand":>Brand</label> 
		    <input type="text" name="Brand" th:field="*{Brand}"><br><br>
						
			<label for="Name":>Madein</label> 
			<input type="text" name="Madein" th:field="*{Madein}"><br><br>
			
			<label for="Name":>Price</label> 
			<input type="text" name="Price" th:field="*{Price}"><br><br>
			
			<label for="Name":>Quantity</label> 
			<input type="text" name="Quantity" th:field="*{Quantity}"><br><br>
			
			<label for="Name":>Name</label> 
			<input type="text" name="DiscountRate" th:field="*{DiscountRate}"><br><br>
					
			<button type="submit">update</button>
		</form>
	</body>
</html>
